{% load static %}
 <!doctype html>
  <html>
      <head>
         <meta charset="utf-8">
         
         <link rel="stylesheet"  href= " {% static 'css/styles.css' %} " type="text/css" /> 
         
         
         <title>Playground</title>
     </head>
 
    <body>

        <div class="hero-image">
            <div class="hero-text">
              <h1>I am John Doe</h1>
              <p>And I'm a Photographer</p>
              <button>Hire me</button>
            </div>
          </div>

          
    <div id="outter_container">
        <div id = "post">

            {% for each_post in post %}
            <div>

                <img src = "{{ each_post.post_Img.url}}">
                <a href="{{each_post.get_absolute_url}} ">{{ each_post.title }}</a>
                <p>{{ each_post.body }}</p>
                
                
        <iframe src = "{{ each_post.audio }}" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            
                
            
            {% endfor %}

        </div>
    </div>
          <h1>{{ title }}</h1>
         <p>{{ cal }}</p>

    <div>
        <form action = " " method = "post"> 
            {% csrf_token %} 
            {{form }} 
            
            <input type="submit" value= "Submit"> 
        </form> 
    
    </div>
     </body>
 </html>